<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>404 - Page Not Found</title>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

    body {
      font-family: "Poppins", sans-serif;
    }

    .container-404 {
      display: grid;
      place-items: center;
      overflow: hidden;
    height: 100dvh;
    }

    .gif {
      display: flex;
      justify-content: center;
    }

    .content {
      padding: 20px;
    text-align: center;
    position: fixed;
    /* top: 50%; */
    /* left: 0; */
    width: min(600px, 90%);
    background: #00000021;
    border-radius: 1rem;
    /* right: 0; */
    backdrop-filter: blur(4px);
    /* margin-left: auto; */
    margin: 10px;
    }

    .content .main-heading {
      font-size: 2.2rem;
      font-weight: 700;
    }

    p {
      font-size: 1rem;
      padding: 0.7rem 0;
    }

    button {
      background: linear-gradient(to bottom, #fccb06 5%, #fccb06 100%);
      background-color: #fccb06;
      border-radius: 28px;
      border: 1px solid #fccb06;
      display: inline-block;
      cursor: pointer;
      color: #000;
      font-size: 17px;
      font-weight: bold;
      padding: 10px 21px;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="container-404">
    <!-- <div class="gif">
      <img src="https://i.postimg.cc/2yrFyxKv/giphy.gif" alt="gif_ing" />
    </div> -->
    <css-doodle>
      <style>
        @grid: 50x1 / 50vmin;
        :container {
          perspective: 23vmin;
        }
        background: @m(
          @r(200, 240), 
          radial-gradient(
            @p(#00b8a9, #f8f3d4, #f6416c, #ffde7d) 15%,
            transparent 50%
          ) @r(100%) @r(100%) / @r(1%, 3%) @lr no-repeat
        );
    
        @size: 80%;
        @place-cell: center;
    
        border-radius: 50%;
        transform-style: preserve-3d;
        animation: scale-up 20s linear infinite;
        animation-delay: calc(@i * -.4s);
    
        @keyframes scale-up {
          0% {
            opacity: 0;
            transform: translate3d(0, 0, 0) rotate(0);
          }
          10% { 
            opacity: 1; 
          }
          95% {
            transform:
              translate3d(0, 0, @r(50vmin, 55vmin))
              rotate(@r(-360deg, 360deg));
          }
          100% {
            opacity: 0;
            transform: translate3d(0, 0, 1vmin);
          }
        }
      </style>
    </css-doodle>
    
    <div class="content">
      <h1 class="main-heading">404 - Page Not Found</h1>
      <p>
        ...maybe the page you're looking for is not found or never existed.
      </p>
      <a href="/">
        <button>Back to home <i class="far fa-hand-point-right"></i></button>
      </a>
    </div>
  </div>
  <script src="https://unpkg.com/css-doodle@0.17.2/css-doodle.min.js"></script>
</body>

</html>