<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/photos/brand/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/photos/brand/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/photos/brand/favicon-16x16.png">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/profile.css">
  <title>User Profile</title>
</head>

<body>
  <%- include('sidebar', { currentPage: 'User Profile' }) %>

    <div class="home-container">
      <h2>Welcome, <%= user.username %>!</h2>
    <div class="profile-box">
      <h3>Profile Information</h3>
      <form action="/update-profile" onsubmit="showToast('Profile edited!')" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="<%= user.username %>">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="<%= user.password %>">
        <br>
        <button type="submit">Edit Profile</button>
      </form>
    </div>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>