<head>
    <link rel="stylesheet" href="../assets/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
</head>
<header>
    <div class="toggle">
        <i class="fas fa-bars"></i>
    </div>
    <h3>
        <%= currentPage %>
    </h3>
    <a href="/logout">
        <i class="fas fa-sign-out-alt"></i>
    </a>
</header>
<nav>
    <ul>
        <li class="d-logo">
            <img src="../assets/photos/brand/favicon-32x32.png" alt="our logo">
        </li>
        <li>
            <a class="toggle">
                <span class="icon"><i class="fas fa-bars"></i></span>
                <span class="title">Menu</span>
            </a>
        </li>
        <li>
            <a href="/home">
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="title">Home</span>
            </a>
        </li>
        <li>
            <a href="/feed">
                <span class="icon"><i class="fa fa-rss"></i></span>
                <span class="title">Feed</span>
            </a>
        </li>
        <li>
            <a href="/search">
                <span class="icon"><i class="fas fa-search"></i></span>
                <span class="title">Search</span>
            </a>
        </li>
        <li>
            <a href="/profile">
                <span class="icon"><i class="fas fa-user"></i></span>
                <span class="title">Profile</span>
            </a>
        </li>
        <li>
            <a href="/logout">
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                <span class="title">Sign Out</span>
            </a>
        </li>
    </ul>
</nav>
<script src="../assets/js/script.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>