<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
</head>
<body>
  <h1>Signup</h1>
  <form action="/signup" method="POST" enctype="multipart/form-data">
    <label for="profileImage">Profile Image:</label>
        <input type="file" id="profileImage" name="profileImage"><br>
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Signup</button>
  </form>
</body>
</html>
