<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/photos/brand/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/photos/brand/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/photos/brand/favicon-16x16.png">
  <link rel="stylesheet" href="../assets/css/login.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/sidebar.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
  <title>Signup on Dizcuss</title>
</head>

<body>
  </head>

  <body>
    <header>
      <div class="toggle">
          <i class="fas fa-bars"></i>
      </div>
      <h3>
          Signup
      </h3>
      <a href="/login">
        <i class="fas fa-sign-in-alt"></i>
      </a>
  </header>
  <nav>
      <ul>
          <li class="d-logo">
              <img src="../assets/photos/brand/favicon-32x32.png" alt="our logo">
          </li>
          <li>
              <a class="toggle">
                  <span class="icon"><i class="fas fa-bars"></i></span>
                  <span class="title">Menu</span>
              </a>
          </li>
          <li>
              <a href="/home">
                  <span class="icon"><i class="fas fa-home"></i></span>
                  <span class="title">Home</span>
              </a>
          </li>
          <li>
              <a href="/login">
                  <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
                  <span class="title">Log In</span>
              </a>
          </li>
      </ul>
  </nav>
      <div class="login-container">
        <div class="form-container">
          <p class="title">Signup</p>
          <form class="form" id="form" action="/signup" method="POST">
            <div class="input-group">
              <label for="username">Username</label>
              <input type="text" name="username" placeholder="Username" id="username" required>
            </div>
            <div class="input-group">
              <label for="password">Password</label>
              <input type="password" name="password" placeholder="Password" id="password" required>
            </div>
            <div class="input-group">
              <label for="fullName">Full Name</label>
              <input type="text" name="fullName" placeholder="Full Name" id="fullName" required>
            </div>
            <div class="input-group">
              <label for="gender">Gender</label>
              <!-- <input type="text" name="gender" placeholder="gender" id="gender" required> -->
              <select name="gender" id="gender" class="gender-select" required>
                <option disabled hidden selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            <div class="input-group">
              <label for="birthDate">Birth Date</label>
              <input type="date" name="birthDate" placeholder="Birth Date" id="BirthDate" required>
            </div>
            <br>
            <button class="sign">Signup</button>
          </form>
          <br>
          <p class="signup">Already have an account?
            <a rel="noopener noreferrer" href="/login" class="">Login</a>
          </p>
        </div>
      </div>
      <script src="../assets/js/script.js"></script>
  </body>

</html>