<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/login.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Login to Dizcuss</title>
</head>
<body>
</head>

<body>
  <%- include('sidebar', { currentPage: 'Signup' }) %>
  <div class="login-container">
    <div class="form-container">
      <p class="title">Signup</p>
      <form class="form" action="/signup" method="POST">
        <div class="input-group">
          <label for="username">Username</label>
          <input type="text" name="username" placeholder="Username" required>
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Password" required>
        </div><br>
        <button class="sign">Signup</button>
      </form>
      <br>
      <p class="signup">Already have an account?
        <a rel="noopener noreferrer" href="/login" class="">Login</a>
      </p>
    </div>
  </div>
</body>
</html>