/* home page */
.content-input{
    width: 100%;
    background: transparent;
    border: 1px solid #ffffff85;
    padding: 10px;
    border-radius: 2px;
    color: #f0eeee;
    font-size: 16px;
    outline: none;
    resize: none;
    margin: 1rem 0;
    display: block;
}
.submit-button {
	background:linear-gradient(to bottom, #fccb06 5%, #fccb06 100%);
	background-color:#fccb06;
	border-radius:28px;
	border:1px solid #fccb06;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-size:15px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
}
.submit-button:hover {
	background:linear-gradient(to bottom, #fccb06 5%, #fccb06 100%);
	background-color:#fccb06;
}
.submit-button:active {
	position:relative;
	top:1px;
}

/* trending discussions container frame */
.most-trending-discussion-container{
    width: 18%;
    top: 2.5rem;
    position: fixed;
    right: 2rem;
    height: 100%;
    /* z-index: -1; */
}
@media (max-width: 1320px){
    .most-trending-discussion-container{
        display: none;
    }
}
/* discussions */
.discussion-container{
    padding: 2rem 0;
}
.discussion-card{
    margin: 3rem 0;
    position: relative;
}
.discussion-title{
    padding: 6px 0;
    font-family: poppins, sans-serif;
    font-size: 15px;
}
.discussion-time{
    font-size: 13px;
    color: grey;
    position: absolute;
    top: 5px;
    right: 0;
}
.reply-card{
    margin-left: 20px;
}
.user-name{
    font-family: poppins;
    font-size: 13px;
    color: #959595;
}
.discussion-toolbar{
    display: flex;
    gap: 10px;
}
.discussion-btn{
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    color: #979797;
    padding: 4px 0;
}

/* liked and disliked states */
.liked{
    color: var(--yellow);
}
.disliked{
    color: red;
}