@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Roboto&display=swap');

/* resetting the initial styling */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    /* hide overflow, good for responsive */
    overflow-x: hidden;
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/* setting color theme */
:root {
    --yellow: #fccb06;
    --dark: rgb(22, 24, 28);
    --black: #000;
    --blue: #b1ddf1;
    /* use for box/text shadow */
    --lightcyan: #e2fdff;
}

body {
    background-color: var(--black);
    color: #ffffffe4;
}

/* custom scroll bar */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #FCCB06 #000000;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #2b2b2b;
}

*::-webkit-scrollbar-track:hover {
    background-color: #2b2b2b;
}

*::-webkit-scrollbar-track:active {
    background-color: #2b2b2b;
}

*::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #FCCB06;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #E0B405;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #E0B405;
}
/* navbar */
.navbar {
    font-size: 18px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.18);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
}

.main-nav {
    list-style-type: none;
    display: none;
    background: transparent;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgb(206, 206, 206);
    transition: .3s;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(251, 251, 251, 0.8);
    font-size: 24px;
}

.show-active {
    display: block;
}

/* header   */
header {
    padding: 1rem;
    display: grid;
    height: 97dvh;
    width: 100%;
    align-items: center;
}

.h-title {
    font-size: 6rem;
    font-weight: bolder;
}

.word {
    position: absolute;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
    color: var(--yellow);
}

.belize {
    color: #2980b9;
}

.pomegranate {
    color: #c0392b;
}

.green {
    color: #16a085;
}

.midnight {
    color: #2c3e50;
}

.user-card {
    overflow: hidden;
    width: 100%;
    margin-bottom: 5rem;
}

.users {
    font-size: 1.6rem;
}

.s-title {
    margin-bottom: 2rem;
    padding: 10px;
    text-align: center;
    font-family: 'Barriecito', cursive;
}

/* Swiper container stylng */
.swiper {
    width: 220px;
    height: 300px;
}


.swiper-slide {
    border-radius: 8px;
    color: var(--black);
    display: grid;
    align-content: center;
    padding: 1rem;
}

.swiper-slide h2 {
    font-size: 20px;
}

.swiper-slide p {
    color: #000000b4;
    margin: 15px 0;
    font-size: 14px;
}

.slide_1 {
    background-color: var(--yellow);
}


.slide_2 {
    background-color: #e38364;
}


.slide_3 {
    background-color: #7afae5;
}


.slide_4 {
    background-color: #2776ff;
}


.slide_5 {
    background-color: #9e6ffd;
}

#join {
    height: 90vh;
    display: grid;
    align-content: center;
}

.join-title {
    padding: 2rem;
    font-size: 2rem;
}

#join-text {
    text-align: left;
    padding: 10px;
}

.j-text {
    transform: scale(0);
}

.join-text {
    padding: 10px;
    animation: slide-left 0.4s linear both;
    font-size: 15px;
}

/* The show effect */
/* @keyframes show {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
} */

@keyframes slide-left {
    0% {
        transform: translateX(-100px)
    }

    100% {
        transform: translateX(0)
    }
}

/* @keyframes popup {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(1.1);
    }

    70% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
} */

.join-link {
    padding: 10px;
    margin: 2rem 0;
    text-align: center;
}

.j-link {
    color: var(--yellow);
}

/* user testimonial */
.user-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

figure.snip1157 {
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: none !important;
}

figure.snip1157 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.snip1157 img {
    max-width: 100%;
    vertical-align: middle;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 40px 0 0 10px;
}

figure.snip1157 blockquote {
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #fafafa;
    padding: 25px 50px 30px 50px;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0;
    line-height: 1.6em;
    font-style: italic;
}

figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 50px;
    opacity: 0.1;
    font-style: normal;
}

figure.snip1157 blockquote:before {
    top: 25px;
    left: 20px;
}

figure.snip1157 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 0;
}

figure.snip1157 .arrow {
    top: 100%;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #fafafa;
    margin: 0;
    position: absolute;
}

figure.snip1157 .author {
    position: absolute;
    bottom: 45px;
    padding: 0 10px 0 120px;
    margin: 0;
    color: #ffffff;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

figure.snip1157 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
}

/* footer styling */

.footer .upper-footer {
    padding: 20px;
    background-color: var(--yellow);
}

.footer .footer-logo {
    margin: 0 auto;
    max-width: 100%;
}

.footer .links {
    margin-top: 20px;
    text-align: center;
    color: rgb(26, 26, 26);
}

.footer .links li {
    margin-right: 5px;
}

.footer .links li a {
    color: rgb(19, 19, 19);
}

.footer .links li a:hover {
    color: var(--yellow);
    text-decoration: none;
}

.footer-container {
    display: grid;
    justify-content: center;
    gap: 10px;
}

.footer .navigation {
    margin-top: 10px;
    text-align: center;
    color: #141414;
    font-weight: bold;
    display: flex;
}

.footer .navigation li {
    margin-right: 10px;
}

.footer .navigation li a {
    color: rgb(21, 21, 21);
}

.footer .navigation li a:hover {
    opacity: .7;
    text-decoration: none;
}

.footer .lower-footer {
    padding: 20px 15px 15px 15px;
    text-align: center;
    color: var(--lightcyan);
    background-color: var(--black);
    letter-spacing: 2px;
}

.lower-footer-text {
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: var(--yellow);
    }

    .user-card {
        display: flex;
        /* height: 300px; */
        /* align-content: center; */
        padding: 3rem;
        align-items: center;
    }

    .users,
    .join-title {
        font-size: 3rem;
    }

    .join-text {
        font-size: unset;
    }

    .word {
        margin: 0 1.4rem;
    }

}

@media (max-width: 600px) {
    .h-title {
        font-size: 3rem;
    }

    .word {
        display: block;
    }
}

.home-container {
    width: min(800px, 85%);
    padding: 20px;
    font-family: "Poppins", sans-serif;
    margin: auto;
}

/* trending discussions container frame */
.most-trending-discussion-container {
    width: 18%;
    top: 2.5rem;
    position: fixed;
    right: 2rem;
    height: 100%;
    /* z-index: -1; */
}

@media (max-width: 1320px) {
    .most-trending-discussion-container {
        display: none;
    }
}

.dropdown {
    position: relative;
}

.dropbtn {
    cursor: pointer;
    transition: .2s;
    color: #fff;
}

.dropbtn:hover {
    opacity: .8;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 6px;
    min-width: 100px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    font-size: 13px;
}

.dropdown-content a:hover {
    background-color: #e4e4e4;
    border-radius: 6px;
}

/* tooltip  */
[data-tooltip] {
    position: relative;
}

[data-tooltip]::before,
[data-tooltip]::after {
    --tooltip-color: #333;
    --arrow-size: .5rem;
    --scale: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, var(--translate-y)) scale(var(--scale));
    transition: transform 100ms;
    transition-timing-function: linear;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
    --scale: 1;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.45, 1.93);
}

[data-tooltip]::before {
    --translate-y: calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    background-color: var(--tooltip-color);
    color: #FFF;
    padding: .5em;
    border-radius: .3em;
    width: max-content;
    max-width: 150px;
    text-align: center;
    transform-origin: bottom center;
}

[data-tooltip]::after {
    --translate-y: calc(-1 * var(--arrow-size));
    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
}
.flex-menu{
    display: flex;
    gap: 10px;
    margin: 8px 0;
    font-size: 14px;
}
.flex-menu .reported-status{
    color: #989898;
}